#addressDiv{
    margin-left: 10px;
    width: 30%;
    height: 840px;    
}
#addressTable{
    width: 100%;
}

/**************************************************/

/* 친구 타이틀 */
#addressTitle{
    font-family: buri;
    font-size: 16pt;
    width: 90%;
}

/* 친구 검색 */
#addressSearch{
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    
}
#addressSearch:hover{
    background-color: beige;
}

/* 친구 추가 */
#addressAdd{
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#addressAdd:hover{
    background-color: beige;
}


/**************************************************/
/* 검색창 */
#addressSearchDiv{
    width: 100%;
    height: 50px;
    display: none;
    align-content: center;
}

#addressSearchTable{
    border: 1px solid black;
    border-radius: 16px;
    width: 95%;
    height: 80%;
    margin-left: 5px;
}

.addrSearch{
    vertical-align: middle;
    margin-left: 5px;
}

#addrSearchText{
    border:none;
    font-size: 14pt;
}

#addrSearchText:focus{
    outline: none;
    
}




/**************************************************/
/* 내 정보 */
#myInfoDiv{
    width: 100%;
    border: 1px solid rgb(34, 112, 25);
    height: 80px;
}

#myTable{
    width: 100%;
    height: 100%;
}

#myInfoNoProfileTd{
    position: relative;
    width: 70px;
}

#myInfoNoprofileName{
    position: absolute;
    top: 50%; /* 텍스트를 이미지의 중앙에 배치 */
    left: 50%;
    transform: translate(-50%, -50%); /* 텍스트의 중심을 이미지의 중심에 맞춤 */
    color: white; /* 텍스트 색상 */
    font-size: 20px; /* 텍스트 크기 */
    font-family: buri;
}

/* 내 정보 */
.myTr{
    width: 100%;
    height: 100%;
    
}

/* 내 프로필 */
.myProfile{
    width: 80px;
    text-align: center;
    vertical-align: middle;
}

/* 내 이름*/
.myName{
    padding-left: 10px;
    width: 100px;
    font-family: buriBord;
}

/*내\ 상태메시지*/
.myStatusMsg{
    
}


/**************************************************/
/* 친구 정보 */

#friendDiv{
    width: 100%;
    border: 1px solid rgb(34, 112, 25);
    height: 82%;
    overflow-y: scroll;

}

#friendTable{
    width: 100%;
    border-collapse: separate;
	border-spacing: 0 2px;
    
}

/* 친구 정보 */
.friendTr{
    width: 100%;
    height: 50px;   

}

.friendTr:hover{
    background-color: rgb(255, 254, 233);
}


/*친구 프로필 */
.friendProfile{
    width: 50px;
    text-align: center;
}

/* 프로필 사진이 없을때 */
.friendNoprofile{
    text-align: center;
    background-color: rgba(161, 220, 240);
    border-radius: 20px;
    font-family: buri;
    font-size: 15pt;
    color: white;
    width: 50px;
    height: 50px;
    
}


/* 친구 이름*/
.friendName{
    width: 100px;
    padding-left: 10px;
    font-family: buriBord;

}

/* 상태메시지*/
.friendStatusMsg{

}


/*친구 숫자 */
#friendCountDiv{
    margin-top: 3px;
    margin-bottom: 3px;
}

/******************************************************************/

/* 친구 추가 부모 모달 백그라운드 처리*/
#addFriendModalParent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 5;
}

#addFriendModalTitle{
    width: 90%;
    font-size: 20px;
    font-weight: bold;
}

/* 채팅방 생성 모달과 동일한 사이즈로 만듬
    width: 400px;
    height: 660px;
    UserChat.css의 createChatRoomModal과 동일함.  */
#addFriendModalDiv{
    width: 400px;
    height: 660px;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    left: 500px;
    top: 200px;
    border: 3px solid rgba(12, 50, 84, 0.728);
    padding: 10px;
}

/* 닫기 영역 */
#addFriendCloseDiv{
    width: 100%;
    height: 5%;
}
#addFriendCloseTable{
    width: 100%;
}


/* 선택 영역 */
#addFriendSelectDiv{
    width: 100%;
    height: 15%;
}

#addFriendselectTable{
    height: 100%;
    width: 100%;
    text-align: center;
}

.addFriendselectTd{
    width: 50%;
    font-size: 18px;
    font-family: Buri;
}

.addFriendselectP:hover{
    cursor: pointer;
    color: rgb(105, 105, 105);
    text-decoration: underline;
}



/* 입력 영역 */
#addFriendInsertDiv{
    width: 100%;
    height: 65%;
}
/* id 입력, 전화번호 입력 공통 */
.addFriendInsertIdDiv{
    width: 100%;
    height: 100%;
    
}
/* id 입력, 전화번호 입력 공통 */
.addFriendInsertIdTable{
    width: 95%;
    height: 100%;
    padding-left: 20px;
}

/* id 입력, 전화번호 입력 공통 */
.addFriendInsertTr{
    height: 60px;
    vertical-align: bottom;
    width: 100%;
}

/* 전화번호 입력*/
#addFriendPhoneInsertTr{
    height: 15%;
    vertical-align: bottom;
}

/* 전화번호 입력*/
#addFriendPhoneLastTr{
    vertical-align: top;
    height: 10px;
}


/* id 입력, 전화번호 입력 공통 */
.addFriendInsert{
    width: 260px;
    height: 50px;
    font-size: 18px;
    border: none;
}

#inputTextCountTd{
    
    padding-bottom: 15px;
}

#inputTextCount{
    font-size: 20px;
}

#addFriendInsertCommentTr{
    vertical-align: top;
}

#addFriendHrTr{
    width: 100%;
    height: 10px;
}

/* 버튼 영역 */
#addFriendBtnDiv{
    width: 100%;
    height: 15%;
    text-align: center;
}

#addFriendBtnTable{
    width: 100%;
    height: 100%;
    
}

.addFriendBtnTd{
    width: 50%;
}

.addFriendBtn{
    font-size: 16px;
    width: 90px;
    height: 30px;
}


/******************************************************************/


/* 친구 검색 결과*/

.searchFriendImgTr{
    text-align: center;
    height: 130px;
}

.searchFriendTd{
    width: 100%;
}

.searchFriendNoProfileTd{
    position: relative;
}

.searchFriendNoprofileName{
    position: absolute;
    top: 50%; /* 텍스트를 이미지의 중앙에 배치 */
    left: 50%;
    transform: translate(-50%, -50%); /* 텍스트의 중심을 이미지의 중심에 맞춤 */
    color: white; /* 텍스트 색상 */
    font-size: 50px; /* 텍스트 크기 */
    font-family: buri;
}



#searchFriendNameTd{
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    font-family: buri;
    height: 5%;
}

#searchFriendNameIdTd{
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    font-family: buri;
    height: 15%;
}

.searchFriendStatusMsgTd{
    vertical-align: top;
}

/* 프로필 사진이 없을때 */
.searchFriendNoprofile{
    text-align: center;
    background-color: rgba(161, 220, 240);
    border-radius: 20px;
    font-family: buri;
    font-size: 15pt;
    color: white;
}



/**********************************************************/

/* 1:1 채팅방 입장 */

#addrChatRoomDiv{
    position: fixed;
    top: 150px;
    left: 750px;
    z-index: 5;
    width: 650px;
    height: 800px;
    border: 3px solid rgba(34, 49, 146, 0.5);
    background-color: white;

    
}

/* 1:1 채팅방 타이틀 */
#addrChatRoomTitle{
    width: 100%;
    height: 14%;
    font-size: 20px;
    font-family: buri;
    padding-left: 2px;
}

/* 1:1 대화방 참여자 이름 */
.addrChatRoomTitleName{
    font-family: buriBord;
}

#addrChatRoomCloseTable{
    width: 100%;
}

/* 1:1 대화방 닫기 버튼 */
#addrChatRoomCloseTd{
    float: right;
    padding-right: 5px;
}


/* 1:1 채팅방 내용 */
#addrChatRoomContents{
    width: 100%;
    height: 60%;
    border: 1px solid blue;
}

/* 1:1 채팅방 입력 */
#addrChatRoomEnter{
    width: 100%;
    height: 20%;
    border: 1px solid orange;
}

/* 1:1 채팅방 버튼 */
#addrChatRoomBtn{
    width: 100%;
    height: 5%;
    border: 1px solid green;
}