
/*브라우저 상단 간격 */
#userHeader{
    width: 95%;
    padding: 5px;
    
}
/* userHeader Title Early!*/
#userHeaderTitle{
    width: 380px;
    font-family: BuriBord;
    text-align: center;
    font-size: 55px;
    background-color: rgb(161, 220, 240) ;
    color: white;
    border-radius: 10px;    
}

#userHeaderTable{
    border-spacing: 5px;
}

/* userHeader nav*/
.userHeaderTd{
    background-color: rgb(161, 220, 240);
    width: 70px;
    border-radius: 7px;
    text-align: center;    
    border: 3px solid rgb(161, 220, 240);
}
.userHeaderTd:hover{
    background-color: white;
    border: 3px solid rgb(161, 220, 240);
    cursor: pointer;
}

/* userHeader ETC*/
.userMenuTd{
    /*높이 정렬*/
    vertical-align: top;
}
.userMenuTr{
    font-family: buri;
    font-size: 13px;
    vertical-align: top;
    color: rgb(130, 131, 132);
}
.userMenuTr:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}



@media only screen and (max-width:800px){

    #userHeaderTitle{
        height: 70px;
        font-size: 30px;
        width: 120px;
    }
    .userHeaderTdImg{
        width: 40px;
        height: 40px;
    }
    #userHeaderTable{
        border-spacing: 2px;
    }
    
}
