


#chatListDiv{
    
    float: left;
    border: 2px solid black;
    width: 380px;
    height: 720px;
    padding : 0 5px;
    margin-right: 2px;
}

#chatListTable{
    width: 100%;
    padding-top: 3px;
}


#contentDiv{
    float: left;
    border: 2px solid blue;
    height: 720px;
    width: 60%;
}

.chatListTr{
    width: 90%;
    padding: 2.5px;
    height: 50px;
    

}


.chatListTr:hover{
    cursor: pointer;
    background-color: rgb(248, 252, 206);
}

.chatListTitleTd{

    font-family: buriBord;
    
    font-size: 14px;
    float: left;
    
    /* 너비 고정 */
    width: 190px;
    height: 50%;

}

.chatListUsersTd{
    
    font-family: buri;
    font-size: 9px;
    
    float: left;
    width: 36%;
    height: 50%;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 5px;

}

.chatListLastDateTd{
    font-family: buri;
    font-size: 9px;
    padding-top: 5px;
    float: left;
}


/* userNoChat*/
#userNoChatTd{
    font-family: buri;
}

#chatRoomTitle{
    border: 1px solid grey;
    height: 10%;
}

#chatRoomContents{
    border: 1px solid black;
    height: 65%;
}

#chatRoomText{
    border: 1px solid red;
    height: 20%;
}

