#addressDiv{
    margin-left: 10px;
    width: 40%;
    height: 720px;    
}
#addressTable{
    width: 100%;
}

/**************************************************/

/* 친구 타이틀 */
#addressTitle{
    font-family: buri;
    font-size: 16pt;
    width: 90%;
}

/* 친구 검색 */
#addressSearch{
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    
}
#addressSearch:hover{
    background-color: beige;
}

/* 친구 추가 */
#addressAdd{
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#addressAdd:hover{
    background-color: beige;
}


/**************************************************/
/* 검색창 */
#addressSearchDiv{
    width: 100%;
    height: 50px;
    display: none;
    align-content: center;
}

#addressSearchTable{
    border: 1px solid black;
    border-radius: 16px;
    width: 95%;
    height: 80%;
    margin-left: 5px;
}

.addrSearch{
    vertical-align: middle;
    margin-left: 5px;
}

#addrSearchText{
    border:none;
    font-size: 14pt;
}

#addrSearchText:focus{
    outline: none;
    
}




/**************************************************/
/* 내 정보 */
#myInfoDiv{
    width: 100%;
    border: 1px solid rgb(34, 112, 25);
    height: 80px;
}

#myTable{
    width: 100%;
    height: 100%;
}

/* 내 정보 */
.myTr{
    width: 100%;
    height: 100%;
}

/* 내 프로필 */
.myProfile{
    width: 80px;
    text-align: center;
    vertical-align: middle;
}

/* 내 이름*/
.myName{
    padding-left: 10px;
    width: 100px;
}

/*내\ 상태메시지*/
.myStatusMsg{
    
}


/**************************************************/
/* 친구 정보 */
#friendDiv{
    width: 100%;
    border: 1px solid rgb(34, 112, 25);
    height: 82%;
    overflow-y: scroll;

}

#friendTable{
    width: 100%;
}

/* 친구 정보 */
.friendTr{
    width: 100%;
    height: 50px;
    
}

/*친구 프로필 */
.friendProfile{
    width: 50px;
    text-align: center;
}
/* 프로필 사진이 없을때 */
.friendNoprofile{
    text-align: center;
    background-color: rgba(161, 220, 240);
    border-radius: 20px;
    font-family: buri;
    font-size: 15pt;
    color: white;
    width: 50px;
    height: 50px;
}


/* 친구 이름*/
.friendName{
    width: 100px;
    padding-left: 10px;

}

/* 상태메시지*/
.friendStatusMsg{
    
}


/*친구 숫자 */
#friendCountDiv{
    margin-top: 3px;
    margin-bottom: 3px;
}