


#chatListDiv{
    
    float: left;
    border: 2px solid black;
    width: 380px;
    height: 720px;
    padding : 0 5px;
    margin-right: 2px;
}

#chatListTable{
    width: 100%;
    padding-top: 3px;
}


#contentDiv{
    float: left;
    border: 2px solid blue;
    height: 720px;
    width: 60%;
}

.chatListTr{
    width: 90%;
    padding: 2.5px;
    height: 50px;
    

}


.chatListTr:hover{
    cursor: pointer;
    background-color: rgb(248, 252, 206);
}

.chatListTitleTd{

    font-family: buriBord;
    
    font-size: 14px;
    float: left;
    
    /* 너비 고정 */
    width: 190px;
    height: 50%;

}

.chatListUsersTd{
    
    font-family: buri;
    font-size: 9px;
    float: left;
    width: 32%;
    height: 50%;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 5px;

}

.chatListLastDateTd{
    font-family: buri;
    font-size: 9px;
    padding-top: 5px;
    float: left;
}

.chatListUnreadCountTd{
    font-size: 10px;
    font-family: buri;
    background-color: rgb(145, 141, 243);
    color: white;
    border-radius: 20px;
    height:15px;
    width: 12px;
    float: right;
    text-align: center;
    margin-top: 4px;

}


/* userNoChat*/
#userNoChatTd{
    font-family: buri;
}

#chatRoomTitle{
    border: 1px solid grey;
    height: 10%;
}

/*채팅방 line 부모 div*/ 
#chatRoomContents{
    border: 1px solid black;
    height: 65%;
    width: 100%;
    position: relative;
    
}

/*채팅방 line 자식 div*/ 
/*
    채팅방 line 아래 부터 정렬 방법
    부모 div position:relative
    자식 div position: absolute
             bottom : 0
    */ 
#chatRoomContentsChild{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}





#chatRoomText{
    height: 20%;
}

/*채팅 입력창*/
#chatTable{
    width: 100%;
}

#chatTextArea{
    border: none;
    resize: none;
    background-color: rgb(255, 255, 255);
}

#chatTextArea:focus {
    outline: none;
  }

#chatRoomButton {   
    background-color: rgb(224, 224, 224);
    height: 4.5%;

}

#chatTextSend{
    float: right;
    margin-right: 5px;
}


#chatRoomContentsTable{
    width: 100%;

     /* td글자가 많아져도 table 크기를 옆으로 늘리지 않음.*/
    table-layout: fixed;
    font-family: buri;
    font-size: 14px;
    padding: 5px 3px 5px 3px;
    
    /* tr 간격*/
    border-collapse: separate;
	border-spacing: 0 4px;
}

/* 내 채팅 라인*/
.chatRoomContentsTableRTd{
    border-radius: 5px;
    background-color: rgb(249, 249, 216);
    border: 1px solid rgb(255, 215, 128);
    
    /*자동 줄바꿈*/
    word-break: break-all;
    padding: 3px 6px 3px 6px;
    
    /* \n(개행처리) 인식*/
    white-space:pre-wrap;
    
}




/* 상대방 채팅 라인*/
.chatRoomContentsTableLTd{
    border-radius: 5px;
    background-color: rgb(193, 233, 247);
    border: 1px solid rgb(81, 150, 234);
    word-break: break-all;
    padding: 3px 6px 3px 6px;

    /* \n(개행처리) 인식*/
    white-space:pre-wrap;
}

.chatLineImg{
    vertical-align: bottom;
}
.chatLineImg:hover{
    cursor: pointer;
}


#unreadCount{
    font-size: 10px;
    color:rgb(248, 185, 36);
    padding-left : 4px;
    font-family: buriBord;
}

