/* .App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: 'early';
  src: url('/src/font/NanumAReumDeuRiGgocNaMu.woff');
}
@font-face {
  font-family: 'koko';
  src: url('/src/font/NanumKoKoCe.woff');
}
@font-face {
  font-family: 'DDobak';
  src: url('/src/font/NanumDdoBagDdoBag.woff');
}
@font-face {
  font-family: 'Buri';
  src: url('/src/font/MaruBuri-Regular.woff2');
}
@font-face {
  font-family: 'BuriBord';
  src: url('/src/font/MaruBuri-Bold.woff2');
}


.header{
  height: 140px ;
  margin: 10px 200px;
  width: 70%;
}



.home{

  background-color: skyblue;
  height: 600px ;
  width: 70%;
  margin: 50px 200px;

}


.authentication{
  background-color: skyblue;
  height: 600px ;
  width: 70%;
  margin: 50px 200px;
}
#authenticationTitle{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 5% 50% 0% 45%;
  width: 200px;
  height: 60px;
}
.authenticationTable{
  text-align: right;
  font-weight:bold;
  width: 200px;
  padding: 0% 10% 0% 33%;
}



.footer{

  /* 
  중앙으로 보내기 
    display : flex;
    justify-content: center;  

  */
  display: flex;
  justify-content: center;
  /* background-color: skyblue; */
  
  height: 10px ;
  width: 70%;
  margin: 50px 200px;
  font-size: 14px;
  
}
