/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header{
  
  background-color: skyblue;
  height: 100px ;
  margin: 10px 200px;
  width: 70%;

}

.login{

  background-color: skyblue;
  height: 600px ;
  width: 70%;
  margin: 50px 200px;

}

#loginTitle{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 5% 50% 5% 45%;
  width: 200px;
  height: 100px;
}

#loginFoam{
  padding: 0% 50% 0% 40%;
  width: 400px;
  height: 100px;
}

#submit{
  background-color: white;
  color: skyblue;
  border: none;
  padding: 30px 110px;
}
#submit:hover{
  cursor : pointer;
}

#loginEtc{
  padding: 40px 40% 0% 40%;
  color: white;
}

.loginEtcClass{
  text-decoration: none;
  color: white;
  padding: 8px;
  font-size: 13px;
}

.loginEtcClass:hover{
  text-decoration: underline;
}

.home{

  background-color: skyblue;
  height: 600px ;
  width: 70%;
  margin: 50px 200px;

}

.join{
  background-color: skyblue;
  height: 600px ;
  width: 70%;
  margin: 50px 200px;
}

#joinTitle{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 5% 50% 0% 45%;
  width: 200px;
  height: 60px;
}

.joinTable{
  text-align: right;
  font-weight:bold;
  width: 200px;
  padding: 0% 10% 0% 33%;
}

#joinDupBtn{
  background-color: white;
  color: skyblue;
  border: none;
  padding: 15px 100px;
  width: 280px;
}

#joinDupBtn:hover{
  cursor : pointer;
}

#joinBtn{
  background-color: white;
  color: skyblue;
  border: none;
  padding: 15px 100px;
  width: 280px;
}

.findId{
  background-color: skyblue;
  height: 600px ;
  width: 70%;
  margin: 50px 200px;
}


.findPw{
  background-color: skyblue;
  height: 600px ;
  width: 70%;
  margin: 50px 200px;
}







.footer{

  background-color: skyblue;
  height: 100px ;
  width: 70%;
  margin: 50px 200px;

}
